.front {
	cursor: pointer;
}

.img {
	max-width:100%;
    max-height:88px;
    width: 200px;
    height: auto;
}

#quadrado {
    padding-left: 10px;
    background: #222;
    width: 200px;
    height: 200px;
}

#bola {
    background: #f2f2f2;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#imagem {
    background: url('img/ifmt.webp');
    width: 200px;
    height: 200px;
}

img {
    cursor: pointer;
}